
.menu{
  margin-top: 16px;
  float: left;
  margin-left: 50px;
  margin-right: 20px;
}
.head{
  position: fixed;
  z-index: 100;
  background-color:white;
  border-bottom   : darkgray solid 1px;
  height: 70px;
  width: 100%;
  /*margin-top: -15px;*/
}
.lessonName{
  float: left
}
.likeImage{
  float: right;
  margin-right: 50px;
  margin-top: 16px;
}
.detailBody{
  padding-top: 70px;
}
.markdown{
  width: 65%;
  float: left;
  text-align:left !important;
  margin-left: 5%;
}
.markdown img{
  height: auto;
  width: 100%;
}
.markdown h1{
  /*font-weight: bold;*/
  color: #f09038;
}
.markdown h2{
  position: relative;
  /*font-weight: bold;*/
  color:white ;
  text-align: center;
  line-height: 32px;
  margin-left: 45%;
  width: 130px;
  background:  #f09038;
  border-radius: 15px;
}
.markdown h2:before{
  position: absolute;
  content: "";
  top: -5px;
  left: -25px;
  height: 100px;
  width: 20px;
  background-image: url('../../static/image/markdownTop.png');
  background-repeat:no-repeat;
}
.markdown h2:after{
  position: absolute;
  content: "";
  top: -5px;
  right: -30px;
  height: 100px;
  width: 20px;
  background-image: url('../../static/image/markdownBottom.png');
  background-repeat:no-repeat;
}
.markdown h3{
  position: relative;
  margin-left: 10px;
  color: #f09038;
}
.markdown h3:before{
  position: absolute;
  content: "";
  height: 25px;
  width: 5px;
  left: -10px;
  background : #f09038;
}
.rightList{
  position: fixed;
  margin-left: 75%;
  float: right;
  width: 25%;
  height: 100%;
  background-color: white;
}
.titel{
  float: left;
  padding-left: 20%;
}
.materialList{
  float: left;
}
.listText{
  float: left;
  margin-left: 30px;
}
.videoBox{
  margin-top: 20%;
  /*border: darkgray solid 1px*/
}
.overlay{
  position: absolute;
}
.welcomeLesson{
  position: fixed;
  height: 200px;
  width: 400px;
  margin-top: 50%;
  margin-left: 100px;
  background-color: aliceblue;
}
.welcomeLesson .IknowLesson{
  margin-top: 80px;
  margin-left: 300px;
  color: #42B89E;
}
.welcomeLesson .geName{
  margin-right: 160px;
}
.likeLesson{
  position: absolute;
  height: 200px;
  width: 400px;
  top: 80px;
  right: 8%;
  background-color: white;
}
.likeLesson .likeIknow{
  margin-top: 80px;
  margin-left: 300px;
  color: #42B89E;
}
.likeLesson .likeInfo{
  margin-right: 170px;
}
.likeLesson .likeName{
  margin-right: 160px;
}
.circleLike{
  /*margin-top: 100px;*/
  margin-left: 90%;
  position: relative;
  width: 100px;
  height: 100px;
  background: url("../../static/image/like.png") no-repeat;
  border-radius: 50%;
  z-index: 500;
}
