.noHave{
  margin-top: 200px;
}
.content{
  padding-top: 10%;
  margin-left: 300px;
  min-width: 900px;
}
.list{
  position: relative;
}
.status{
  position: absolute;
  z-index: 100;
  margin-top: 150px;
  margin-left: -276px;
}
